/* 全局css */
.app,.global-stats,.historyChart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historyChartGroup{
    display: flex;
}

table{
    margin: auto;
}
th{
    border: 1px red solid;
}